.contact-me {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 10%;

  animation: anim-scale 4s ease-out 2s infinite;
  transform-origin: 50% 50%;

  .contact-me-image {
    cursor: pointer;
  }

  @keyframes anim-scale {
    0% {
      transform: scale(1, 1);
    }
    10% {
      transform: scale(1, 1);
    }
    20% {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1, 1);
    }
    40% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    60% {
      transform: scale(1, 1);
    }
    70% {
      transform: scale(1.05, 1.05);
    }
    80% {
      transform: scale(1, 1);
    }
    90% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
