.main-page {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 40px;
  height: 65vh;
  min-height: 70vh;

  .main-image {
    position: absolute;
    width: 40vw;
    right: 10%;
  }

  .text-content {
    position: absolute;
    width: 55%;
    bottom: 15%;
    left: 4%;

    h2 {
      margin: 0;
      font-size: 36px;
      letter-spacing: 2px;
      line-height: 120%;
    }
  }

  @media screen and (max-width: 768px) {
    .main-image {
      min-width: 60vw;
      position: relative;
      right: 0;
    }

    .text-content {
      position: relative;
      bottom: 0;
      left: 0;
      margin: 50px auto auto auto;

      h2 {
        margin: 0;
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 120%;
      }
    }
  }
}
