.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  margin: 0 auto;

  .about-left-pane {
    width: 50%;
  }

  .about-right-pane {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 960px) {
  .about-section {
    flex-direction: column;

    .about-left-pane {
      width: 80%;
      margin-bottom: 48px;
    }

    .about-right-pane {
      width: 80%;
    }
  }
}
