.about-section {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 0 auto;

  .about-left-section {
    width: 50%;
  }

  .about-right-pane {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
