.skill-set {
  display: inline-block;
  margin: 24px;

  img {
    height: 48px;
    width: 48px;
    margin-bottom: 8px;
  }

  p {
    margin: 0;
    color: #0d1d2a;
    font-size: 16px;
  }
}

@media screen and (max-width: 960px) {
  .skill-set {
    margin: 16px;
  }
}
