.project-card {
  height: 300px;
  width: 250px;
  margin: 16px;
  padding: 16px;
  cursor: pointer;
}
.box-shadow {
  box-shadow: 0 0 5px black;
}

.active-card {
  position: absolute;
  background-color: aqua;
  width: 80%;
  height: 60%;
  margin: 0;
  padding: 0;
}
