.projects-section {
  width: 80%;
  margin: 0 auto;

  .project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 960px) {
  .projects-section {
    width: 90%;
  }
}
