.about-page {
  width: 100%;
  text-align: center;

  .introduction-section {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 6em auto;

    .image-box {
      .avatar-image {
        width: 70%;
      }
    }
    .image-box1 {
      width: 1000px;

      .avatar-image {
        width: 100%;
      }
    }

    .text-box {
      p {
        font-size: 1.6rem;
        text-align: left;
        letter-spacing: 2px;
        line-height: 120%;
      }
    }
  }
}
