.about-page {
  width: 100%;
  text-align: center;
  margin-top: 100px;

  h2 {
    font-family: "Playfair Display";
    color: #0d1d2a;
    font-size: 36px;
    letter-spacing: 2px;
    text-align: left;
    margin: 0 0 1em 3em;
  }

  .introduction-section {
    display: flex;
    flex-direction: row;
    margin: 0 6em 6em 6em;

    .image-box {
      .avatar-image {
        width: 70%;
      }
    }

    .text-box {
      p {
        font-size: 1.6rem;
        text-align: left;
        letter-spacing: 2px;
        line-height: 120%;
      }
    }
  }

  .skill-card {
    color: #fff;
    width: 80%;
    margin: 0 auto;

    p {
      font-size: 1.8rem;
      text-align: center;
      color: aqua;
    }
  }

  .card-shadow {
    box-shadow: 0 0 5px black;
  }
}
