.about-page {
  width: 100%;

  .column {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 3em auto;

    .image {
      flex-grow: 1;
      margin: auto 2em;

      .avatar-image {
        width: 1050px;
      }
    }

    .text {
      flex-grow: 4;

      p {
        font-size: 1.6rem;
        text-align: left;
        letter-spacing: 2px;
        line-height: 130%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .column {
      flex-direction: column;

      .image {
        order: 0;
      }
      .text {
        order: 1;
      }
    }
  }
}
