.main-page {
  width: 100%;
  text-align: center;
  margin-top: 40px;

  .main-div {
    .main-image {
      position: relative;
      width: 40%;
      margin: auto;
      top: 0%;
      left: 20%;
    }

    .text-content {
      position: relative;
      right: 20%;

      .text {
        font-family: "Playfair Display";
        color: #0d1d2a;
        margin: 0;
        font-size: 36px;
        letter-spacing: 2px;
        line-height: 120%;
      }
    }
  }
}
