.projects-page {
  width: 100%;

  h2 {
    font-family: "Playfair Display";
    color: #0d1d2a;
    font-size: 36px;
    letter-spacing: 2px;
    text-align: left;
    margin: 0 0 1em 3em;
  }

  .project-card-box {
    width: 80%;
    margin: 0 auto;
  }
}
