.skill-page {
  width: 100%;
  text-align: center;

  .skill-card {
    color: #fff;
    width: 80%;
    margin: 0 auto;

    p {
      font-size: 1.8rem;
      text-align: center;
      color: aqua;
    }
  }

  .card-shadow {
    box-shadow: 0 0 5px black;
  }
}
