nav {
  height: 60px;
  width: 100%;
  background: #fff;
  position: fixed;
  opacity: 0.8;
  z-index: 2;

  .header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    h1 {
      margin-left: 15px;
    }

    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        color: #0d1d2a;
        padding: 10px 15px;
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  .box-shadow {
    box-shadow: 0 0 3px black;
  }
}
