nav {
  height: 60px;
  width: 100%;
  background: #fff;
  position: fixed;
  opacity: 0.8;
  z-index: 2;

  .header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    h1 {
      margin-left: 15px;
    }

    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        color: #0d1d2a;
        padding: 10px 15px;
        cursor: pointer;
        display: inline-block;
      }

      .burger-menu {
        position: absolute;
        height: 30px;
        width: 30px;
        right: 16px;
        cursor: pointer;
        display: none;

        span {
          top: 15px;
        }

        span::before {
          top: -8px;
        }
        span::after {
          top: 8px;
        }

        span,
        span::before,
        span::after {
          position: absolute;
          height: 3px;
          width: 30px;
          border-radius: 3px;
          background: #555;
          display: block;
          content: "";
        }
      }
    }
    .burger-menu-options {
      position: absolute;
      background-color: white;
      height: 200px;
      width: 100%;
      margin-top: 60px;

      a {
        padding-left: 16px;
        padding-top: 16px;
        vertical-align: middle;
        cursor: pointer;
      }
    }
    .barger-menue-options-active {
      display: grid;
    }
    .barger-menue-options-inactive {
      display: none;
    }

    @media screen and (max-width: 500px) {
      .options {
        justify-content: column;

        a {
          display: none;
        }

        .burger-menu {
          display: inline-block;
        }
      }
    }
  }

  .box-shadow {
    box-shadow: 0 0 3px black;
  }
}
