.footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;

  .contact-icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }

  .copyright {
    color: #cad4d0;
    margin: 16px 0;
  }
}
