@import url(`https://fonts.googleapis.com/css?family=Dancing+Script&display=swap`);

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  color: #0d1d2a;
}

a {
  text-decoration: none;
  color: #173f5b;
}

img {
  max-width: 100%;
}

.content {
  // padding: 1rem;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
