.project-main {
  padding-top: 60px;
  width: 100%;
  margin: 0 auto;

  hr {
    margin: 32px auto;
  }

  .image {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
  }

  .detail {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;

    .left-pane {
      width: 55%;
      margin: 0 auto;
      padding: 32px;
    }

    .left-pane hr {
      margin: 8px 0 12px 0;
      width: 100%;
    }

    .right-pane {
      width: 45%;
      margin: 0 auto;
      padding: 32px;

      p {
        margin: 0;
        line-height: 28px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .project-main {
    .image {
      width: 90%;
    }
    .detail {
      flex-direction: column;

      .left-pane {
        width: 100%;
        margin: 0 auto;
        padding: 0;
      }

      .right-pane {
        width: 100%;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
}
